body {
  margin: 0;
  height: 100vh;
  /*background-image: url(background.jpg);
    background-repeat: no-repeat;*/
  background-color: rgb(11, 14, 29);
  font-size: 100%;
}

.wo {
  font-size: 6.25em; /*100px/16=6.25em*/
  color: rgb(255, 255, 255);
  text-align: right;
}
.songti {
  font-family: "font family", Times, songti;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
  /*灰色调*/
  /* -webkit-filter:graycale(100%)*/
}
.flex1 {
  flex: 1;
}
.flex4 {
  flex: 4;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
